<!-- here is header -->

<% include ./components/header %>

<div class="container">
    <form action="/CatPhotos" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" name="name" type="text" placeholder="CatName" required>
        </div>
        <div class="form-group">
            <label for="PhotoUrl">URL</label>
            <input id="PhotoUrl" class="form-control" name="PhotoUrl" type="url" placeholder="PhotoUrl" required>
        </div>
        <button type="submit" class="btn btn-primary">Add photo</button>
    </form>
    <div>
    <a href="/CatPhotos"> << return </a>
    </div>
</div>

<!-- here is footer -->

<% include ./components/footer %>