
<!-- here is header -->
<% include ./components/header %>






<!-- here is picture content -->
<img class="card-img-top" src= <%= data.PhotoUrl %> alt="#">
<h1><%= data.name %></h1>
    
<!-- here is footer -->
<% include ./components/footer %>